<ng-container *ngIf="authService.userProfile | async as user">
  <mat-card>
    <div class="flex-right">
      <mat-card-title>{{user.username}}'s Budgets</mat-card-title>
    </div>
  </mat-card>
  <div class="budget-list">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Budget Name</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="budget-details">
          <p class="budget-details-type">Budget for (duration)</p>
          <div class="financial-details">
            <small>Total Income:</small>
            <small>R10,000.00</small>
          </div>
          <div class="financial-details">
            <small>Total Expenses:</small>
            <small>R5,000.00</small>
          </div>
          <button app-button color="accent" size="md" class="open-budget">Open Budget</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>
