@import "../../../../styles/partials/variables";

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.budget-list {
  margin: .75rem;
}

.budget-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.financial-details {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.open-budget {
  margin: .75rem auto;
  width: 65%;
}

.delete-budget {
  color: rgba($warn, 0.7);
  margin: .75rem auto;
}

.edit-budget {
  color: rgba($primary, 0.7);
  margin: .75rem auto;
}

.add-budget {
  position: absolute;
  bottom: 1.3rem;
  right: 1.3rem;
}

.mat-expansion-panel-header-title {
  align-items: center;
}

.touch-menu-trigger {
  font-size: 16px;
  margin: .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  &:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.item-list {
  display: flex;
  flex-direction: column;
}

.open-budget-menu {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
