<ng-container *ngIf="user">
  <mat-card>
    <div class="flex-right">
      <mat-card-title>{{user.username}}'s Budgets</mat-card-title>
    </div>
  </mat-card>
  <div class="budget-list">
    <mat-accordion>
      <ng-container *ngFor="let budget of budgetService.userBudgets | async">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{budget.name}}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="budget-details">
            <p class="budget-details-type">{{budget.duration}} budget</p>
            <small>Total Income: <span>R10,000.00</span></small>
            <small>Total Expenses: <span>R5,000.00</span></small>
            <button app-button color="accent">Open Budget</button>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
</ng-container>
