.flex-right {
  display: flex;
  justify-content: flex-end;
}

.budget-list {
  margin: .75rem;
}

.budget-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.financial-details {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.open-budget {
  margin: .75rem auto;
  width: 65%;
}

.add-budget {
  width: 2.3rem;
  height: 2.3rem;
  border: 1px solid black;
  border-radius: 50%;
  background-color: transparent;
  margin-left: .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
