.flex-right {
  display: flex;
  justify-content: flex-end;
}

.budget-list {
  margin: .75rem;
}

.budget-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.financial-details {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.open-budget {
  margin: .75rem auto;
  width: 65%;
}

.add-budget {
  position: absolute;
  bottom: 1.3rem;
  right: 1.3rem;
}
