<ng-container *ngIf="user">
  <mat-card>
    <div class="flex-right">
      <mat-card-title>{{user.username}}'s Budgets</mat-card-title>
    </div>
  </mat-card>
  <div class="budget-list">
    <mat-accordion>
      <ng-container *ngFor="let budget of budgetService.userBudgets | async">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{budget.payload.doc.data().name}}
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon class="delete-budget" (click)="deleteBudget(budget.payload.doc.id); $event.stopPropagation()">delete_outline</mat-icon>
              <mat-icon class="edit-budget" (click)="openBudgetDialog(newBudget, budget.payload.doc.data()); $event.stopPropagation()">edit</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="budget-details">
            <p class="budget-details-type">{{budget.payload.doc.data().duration}} budget</p>
            <div class="financial-details">
              <small>Total Income:</small>
              <small>R10,000.00</small>
            </div>
            <div class="financial-details">
              <small>Total Expenses:</small>
              <small>R5,000.00</small>
            </div>
            <button app-button color="accent" size="md" class="open-budget" [routerLink]="'/budget/detail/' + budget.payload.doc.id">Open Budget</button>
          </div>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </div>
  <button app-round-button color="primary" size="xlg" class="add-budget" (click)="openBudgetDialog(newBudget)">
    <mat-icon>add</mat-icon>
  </button>
</ng-container>

<ng-template #newBudget>
  <app-add-budget [dialogRef]="dialogRef" [user]="user" [budget]="selecedBudget"></app-add-budget>
</ng-template>
