$accent-palette: (
  50 : #eef3e7,
  100 : #d5e2c4,
  200 : #b9ce9c,
  300 : #9cba74,
  400 : #87ac57,
  500 : #729d39,
  600 : #6a9533,
  700 : #5f8b2c,
  800 : #558124,
  900 : #426f17,
  A100 : #cfffa8,
  A200 : #b4ff75,
  A400 : #98ff42,
  A700 : #8aff29,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
