$primary-palette: (
  50 : #e6f0f5,
  100 : #c0dbe6,
  200 : #97c3d5,
  300 : #6daac4,
  400 : #4d98b8,
  500 : #2e86ab,
  600 : #297ea4,
  700 : #23739a,
  800 : #1d6991,
  900 : #125680,
  A100 : #b4e0ff,
  A200 : #81cbff,
  A400 : #4eb6ff,
  A700 : #35abff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
