$warn-palette: (
  50 : #f7e0e3,
  100 : #ecb3b8,
  200 : #df8089,
  300 : #d24d59,
  400 : #c92636,
  500 : #bf0012,
  600 : #b90010,
  700 : #b1000d,
  800 : #a9000a,
  900 : #9b0005,
  A100 : #ffc6c7,
  A200 : #ff9394,
  A400 : #ff6061,
  A700 : #ff4748,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);
