<div class="profile-box">
  <div class="content closed" [class.open]="showProfile">
    <ng-content></ng-content>
  </div>
  <div class="image-box">
    <figure class="profile-image" [class.place-top]="showProfile" (click)="openProfile()">
      <ng-container *ngIf="showProfile; then arrowUp; else arrowDown"></ng-container>
    </figure>
  </div>
</div>

<ng-template #arrowUp>
  <mat-icon class="profile-arrow">keyboard_arrow_up</mat-icon>
</ng-template>

<ng-template #arrowDown>
  <mat-icon class="profile-arrow">keyboard_arrow_down</mat-icon>
</ng-template>
