.profile-box {
  height: 100vh;
  position: relative;
  z-index: 99;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.image-box {
  position: relative;
}

.profile-image {
  position: absolute;
  top: -.8rem;
  left: -2rem;
  width: 7rem;
  height: 7rem;
  background: url("../../../../../assets/images/icons/user_male.png") no-repeat center;
  background-size: contain;
  cursor: pointer;
  z-index: 9991;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.place-top {
  align-items: flex-start;
  // TODO: Animate the changing of position and shape of the arrow.
}

.content {
  opacity: 0;
  height: 0;
  width: 0;
  transition: height .8s cubic-bezier(.24, 1.06, 1, 1), opacity .8s ease;
  // TODO: Animate it so that the settings page scrolls in rather than changing opacity.
}

.closed {
  opacity: 0;
  height: 0;
  width: 0;
}

.open {
  opacity: 1;
  height: 80%;
  width: 100%;
}

.profile-arrow {
  font-size: 50px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.mat-icon {
  height: 37px;
  width: 50px;
}
