.new-budget {
  overflow: auto;
}

.new-budget-title {
  display: flex;
  justify-content: center;
  .title {
    margin: .5rem auto;
  }
}

.new-budget-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.label-margin {
  margin-bottom: .2rem;
}

.create-button {
  margin: .5rem 0;
  width: 60%;
}

.cancel-button {
  margin: .25rem 0;
  width: 30%
}
