@import "../../../../../styles/partials/variables";

.spinner {
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 2px solid $primary;
  height: 140px;
  width: 140px;
  border-right: 2px solid transparent;
  animation: spinner 0.7s linear infinite;
  text-align: center;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
