<section class="profile-page">
  <div class="profile-content" [class.active]="showProfile">
    <div class="container">
      <ng-container [ngSwitch]="selectedSettings">
        <ng-container *ngSwitchCase="'user'">
          <app-user-settings></app-user-settings>
        </ng-container>
        <ng-container *ngSwitchCase="'app'">
          <app-app-settings></app-app-settings>
        </ng-container>
      </ng-container>
    </div>

    <!--// TODO: Move this into a separate component-->
    <mat-toolbar color="primary" class="close-button">
      <div class="profile-button">
        <figure class="profile-trigger" [class.trigger-active]="showProfile"
                (click)="showProfile = !showProfile"></figure>
      </div>
      <nav class="app-navigation">
        <small>
          <a class="nav-item link"
             [class.active-tab]="selectedSettings === 'user'"
             (click)="selectedSettings = 'user'">User</a>
        </small>
        <small>
          <a class="nav-item link"
             [class.active-tab]="selectedSettings === 'app'"
             (click)="selectedSettings = 'app'">App</a>
        </small>
      </nav>
    </mat-toolbar>
  </div>
  <figure class="profile-trigger" [class.trigger-active]="showProfile" (click)="showProfile = !showProfile"></figure>
</section>
