@import "../../../../styles/partials/variables";

.profile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-color: white;
  z-index: 2059;
}

.profile {
  color: black;
  z-index: 3099;
  padding: .75rem;
}

.profile-title {
  text-align: center;
}

.user-info {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3), 0 0 1px rgba(0, 0, 0, 0.2);
  padding: .5rem;
  margin: .75rem auto;
}

.data {
  margin-left: .4rem;
  color: $primary;
}

.user-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-width {
  width: 70%;
  margin: .8rem auto;
}

.delete-button {
  margin-top: 1.8rem !important
}
