<div class="profile-overlay">
  <section class="profile">
    <h1 class="profile-title">Profile</h1>
    <mat-divider class="app-divider"></mat-divider>
    <div class="user-info">
      <h5>Username:</h5>
      <h5 class="data username">{{user.username}}</h5>
      <h5>Email Address:</h5>
      <h5 class="data email">{{user.email}}</h5>
    </div>
    <div class="user-buttons">
      <button app-button color="primary" class="button-width">Edit Profile Details</button>
      <button app-button color="accent" class="button-width">Logout</button>
      <button app-button color="warn" class="button-width delete-button">Delete my account</button>
    </div>
  </section>
</div>
