<form [formGroup]="incomeStreamForm" (ngSubmit)="createNewIncomeStream(incomeStreamForm)">
  <mat-dialog-content>
    <div class="add-income-form">

      <h3 class="add-income-title">
        <ng-container [ngTemplateOutlet]="text"></ng-container>
      </h3>
      <hr class="app-divider">
      <div [class.spin]="loading">
        <app-spinner [loading]="loading" [size]="'160px'" [color]="'rgb(46, 134, 171)'">
          <div class="add-income-form">
            <mat-form-field>
              <input matInput type="text" placeholder="Name" formControlName="name">
            </mat-form-field>

            <mat-form-field>
              <input matInput class="input-sm" type="number" placeholder="Amount" formControlName="amount">
              <p matPrefix class="currency-prefix">R</p>
            </mat-form-field>

            <mat-form-field>
              <select matNativeControl placeholder="Type" formControlName="type">
                <option value="salary">Salary</option>
                <option value="loan">Loan</option>
                <option value="passiveIncome">Passive Income</option>
                <option value="onceOff">Once Off</option>
              </select>
            </mat-form-field>

            <!--<mat-slide-toggle formControlName="isRecurring">Recurring?</mat-slide-toggle>-->
          </div>
        </app-spinner>
      </div>
    </div>
  </mat-dialog-content>
  <div class="form-buttons">
    <button app-button color="warn" size="md" type="button" (click)="closeDialog()">Cancel</button>
    <button app-button color="primary" size="lg" type="submit">
      <ng-container [ngTemplateOutlet]="text"></ng-container>
    </button>
  </div>
</form>

<ng-template #text>
  <ng-container *ngIf="income">Update Income</ng-container>
  <ng-container *ngIf="!income">Add Income</ng-container>
</ng-template>
