<section class="item-details">
  <h4>{{selectedItem.name}}</h4>
  <small>{{selectedItem.amount | currency:'ZAR':'symbol-narrow'}}</small>
  <hr class="app-divider">
  <!--<div class="details">-->
    <!--<small *ngIf="selectedItem.type" class="item">Type: {{selectedItem.type}}</small>-->
    <!--<small *ngIf="selectedItem.categoryName" class="item">Category: {{selectedItem.categoryName}}</small>-->
    <!--<small *ngIf="selectedItem.dueDate" class="item">Due by: {{selectedItem.dueDate.toDate() | date}}</small>-->
  <!--</div>-->
</section>
