<form [formGroup]="expenseForm" (ngSubmit)="createNewExpense(expenseForm)">
  <mat-dialog-content>
    <div class="add-expense-form">
      <h3 class="add-expense-title">
        <ng-container [ngTemplateOutlet]="text"></ng-container>
      </h3>
      <hr class="app-divider">

      <mat-form-field>
        <input matInput type="text" placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <p matPrefix class="currency-prefix">R</p>
        <input matInput type="number" placeholder="Amount" formControlName="amount">
      </mat-form-field>

      <mat-form-field>
        <select matNativeControl placeholder="category" formControlName="categoryName">
          <option value="entertainment">Entertainment</option>
          <option value="houseHold">House Hold</option>
          <option value="business">Business</option>
        </select>
      </mat-form-field>

      <mat-form-field class="input-sm">
        <input matInput [matDatepicker]="picker" placeholder="Due Date" formControlName="dueDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #picker></mat-datepicker>
      </mat-form-field>

      <div class="form-toggles">
        <mat-slide-toggle formControlName="isPaid">Already Paid?</mat-slide-toggle>
        <mat-slide-toggle formControlName="isRecurring">Recurring?</mat-slide-toggle>
      </div>
    </div>
  </mat-dialog-content>
  <div class="form-buttons">
    <button app-button color="warn" size="md" type="button" (click)="closeDialog()">Cancel</button>
    <button app-button color="primary" size="lg" type="submit">
      <ng-container [ngTemplateOutlet]="text"></ng-container>
    </button>
  </div>
</form>

<ng-template #text>
  <ng-container *ngIf="expense">Update Expense</ng-container>
  <ng-container *ngIf="!expense">Add Expense</ng-container>
</ng-template>
