.mat-toolbar {
  justify-content: flex-end;
}

.profile-button {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100vh;
}

.app-navigation {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
