@import "styles/partials/theme";
@import "styles/partials/variables";
@import "styles/partials/mxins";

@import "styles/partials/directives/app-round-button";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
p {
  margin: .3rem;
}

.app-divider {
  width: 75%;
  margin: .75rem auto !important;
}

.container {
  width: 90%;
  margin: auto;
}

.scroll-box {
  overflow: auto;
}
