@import "styles/partials/theme";
@import "styles/partials/variables";
@import "styles/partials/mxins";

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
