<ng-container *ngIf="selectedBudget">
  <mat-card>
    <div class="flex-right">
      <mat-card-title>{{selectedBudget.name}}</mat-card-title>
    </div>
  </mat-card>

  <div class="single-budget-details">
    <mat-card>
      <mat-card-content>
        <div class="card-top">
          <h4>Income</h4>
          <button app-round-button color="primary" size="sm" (click)="openDialog(addIncomeTemplate)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="container">
          <ng-container *ngFor="let income of budgetIncomeStreams">
            <div class="income-item">
              <small class="income-name">{{income.name}}</small>
              <small class="income-amount">{{income.amount | currency:'ZAR':'symbol-narrow'}}</small>
            </div>
          </ng-container>
          <div class="income-item total">
            <small>Total:</small>
            <small>{{budgetIncomeTotal | currency:'ZAR':'symbol-narrow'}}</small>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div class="card-top">
          <h4>Expenses</h4>
          <button app-round-button color="accent" size="sm" (click)="openDialog(addExpenseTemplate)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="container">
          <ng-container *ngFor="let expense of budgetExpenses">
            <div class="income-item">
              <small class="income-name">{{expense.name}}</small>
              <small class="income-amount">{{expense.amount | currency:'ZAR':'symbol-narrow'}}</small>
            </div>
          </ng-container>
          <div class="income-item other-total">
            <small>Total:</small>
            <small>{{budgetExpenseTotal | currency:'ZAR':'symbol-narrow'}}</small>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div class="amount-after-budget">
      <h5>Amount left after budget:</h5>
      <h3>{{(deriveBudgetAmountRemaining(budgetIncomeTotal, budgetExpenseTotal)) | currency:'ZAR':'symbol-narrow'}}</h3>
    </div>
  </div>
</ng-container>

<ng-template #addIncomeTemplate>
  <app-add-income [dialogRef]="dialogRef" [budgetId]="budgetId"></app-add-income>
</ng-template>

<ng-template #addExpenseTemplate>
  <app-add-expense [dialogRef]="dialogRef" [budgetId]="budgetId"></app-add-expense>
</ng-template>
