@import "../../../../styles/partials/variables";

h5 {
  margin: .2rem;
}

.mat-card {
  padding: .1rem .75rem;
  margin: .8rem 0;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
}

.right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.margin-right {
  margin-right: 2.8rem;
}

.single-budget-details {
  width: 85%;
  margin: 1rem auto;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: .5rem;
  border-bottom: 1px dashed black;
}

.budget-item-wrapper {
  display: flex;
}

.budget-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .2rem 0;
  small {
    font-weight: bold;
  }
}

.total {
  color: $primary;
  padding: .4rem .5rem;
}

.other-total {
  color: $accent;
  padding: .4rem .5rem;
}

.amount-after-budget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.balance-positive {
  color: $accent;
}

.balance-negative {
  color: $warn
}

.back {
  margin: .75rem auto;
  display: flex;
  justify-content: center;
}

.touch-menu-trigger {
  font-size: 16px;
  margin: .2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  &:active {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.item-list {
  display: flex;
  flex-direction: column;
}

.mat-card>:last-child:not(.mat-card-footer) {
  margin-bottom: .5rem;
}

.item-button {
  font-size: 14px;
}
