<ng-container *ngIf="selectedBudget">
  <mat-card>
    <div class="flex-right">
      <mat-card-title>{{selectedBudget.name}}</mat-card-title>
    </div>
  </mat-card>

  <div class="single-budget-details">
    <mat-card>
      <mat-card-content>
        <div class="card-top">
          <h4>Income</h4>
          <button app-round-button matRipple matRippleColor="rgba(46, 134, 171, 0.4)" color="primary" size="sm" (click)="openDialog(addIncomeTemplate)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="container item-list">
          <ng-container *ngIf="budgetIncomeStreams && budgetIncomeStreams.length; else noIncome">
            <ng-container *ngFor="let income of budgetIncomeStreams">
              <mat-menu #incomeMenu="matMenu">
                <button mat-menu-item (click)="deleteIncomeStream(income.id)">Delete Income</button>
                <button mat-menu-item (click)="openDialog(addIncomeTemplate, income)">Edit Income</button>
              </mat-menu>
              <div class="budget-item-wrapper">
                <button class="budget-item item-button" matRipple matRippleColor="rgba(46, 134, 171, 0.4)" (click)="openDialog(itemDetail, income)">
                  <small class="income-name">{{income.name}}</small>
                  <span class="right-side">
                    <small class="income-amount">{{income.amount | currency:'ZAR':'symbol-narrow'}}</small>
                  </span>
                </button>
                <mat-icon class="touch-menu-trigger" matRipple [matMenuTriggerFor]="incomeMenu">more_vert</mat-icon>
              </div>
            </ng-container>
          </ng-container>
          <div class="budget-item total">
            <small>Total:</small>
            <small class="margin-right">{{budgetIncomeTotal | currency:'ZAR':'symbol-narrow'}}</small>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div class="card-top">
          <h4>Expenses</h4>
          <button app-round-button matRipple matRippleColor="rgba(114, 157, 57, 0.4)" color="accent" size="sm" (click)="openDialog(addExpenseTemplate)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <div class="container item-list">
          <ng-container *ngIf="budgetExpenses && budgetExpenses.length; else noExpenses">
            <ng-container *ngFor="let expense of budgetExpenses">
              <mat-menu #expenseMenu="matMenu">
                <button mat-menu-item (click)="deleteExpense(expense.id)">Delete Expense</button>
                <button mat-menu-item (click)="openDialog(addExpenseTemplate, expense)">Edit Income</button>
              </mat-menu>
              <div class="budget-item-wrapper">
                <button class="budget-item item-button" matRipple matRippleColor="rgba(114, 157, 57, 0.4)" (click)="openDialog(itemDetail, expense)">
                  <small class="income-name">{{expense.name}}</small>
                  <span class="right-side">
                    <small class="income-amount">{{expense.amount | currency:'ZAR':'symbol-narrow'}}</small>
                  </span>
                </button>
                <mat-icon class="touch-menu-trigger" matRipple [matMenuTriggerFor]="expenseMenu">more_vert</mat-icon>
              </div>
            </ng-container>
          </ng-container>
          <div class="budget-item other-total">
            <small>Total:</small>
            <small class="margin-right">{{budgetExpenseTotal | currency:'ZAR':'symbol-narrow'}}</small>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div class="amount-after-budget">
      <h5>Amount left after budget:</h5>
      <h3 [class.balance-positive]="isBalancePositive" [class.balance-negative]="!isBalancePositive">
        {{totalBudgetRemaining | currency:'ZAR':'symbol-narrow'}}
      </h3>
    </div>

    <div class="back">
      <button app-button color="primary" size="lg" (click)="goBack()">Go Back</button>
    </div>
  </div>
</ng-container>

<ng-template #addIncomeTemplate>
  <app-add-income [dialogRef]="dialogRef"
                  [budgetId]="budgetId"
                  [income]="selectedIncome"
                  (clearIncome)="clearSelectedIncome()"
  ></app-add-income>
</ng-template>

<ng-template #addExpenseTemplate>
  <app-add-expense [dialogRef]="dialogRef"
                   [budgetId]="budgetId"
                   [expense]="selectedExpense"
                   (clearExpense)="clearSelectedExpense()"
  ></app-add-expense>
</ng-template>

<ng-template #itemDetail>
  <app-item-detail [selectedItem]="selectedItem"></app-item-detail>
</ng-template>

<ng-template #noIncome>
  <small class="no-items-text">Please add an income stream to get started</small>
</ng-template>

<ng-template #noExpenses>
  <small class="no-items-text">Please add an expense to get started</small>
</ng-template>
